<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>Dev Day Da Nang 2018</title>
    </head>
    <body> 
        <h:form>
            <div style="margin-bottom: 20px">
                Text to echo:
                <h:inputText value="#{indexViewBean.enteredString}"/>
                <h:commandButton value="call" 
                                 action="#{indexViewBean.consumeEchoService()}"  
                                 type="submit" /> 
                <br />

                <h:outputText rendered="#{!empty indexViewBean.echoedString}" 
                              value="Server returned: #{indexViewBean.echoedString}" />
            </div>

            <div style="margin-bottom: 20px">
                Bank clearing number:
                <h:inputText value="#{indexViewBean.enteredBankClearingNumber}"/>
                <h:commandButton value="call" 
                                 action="#{indexViewBean.consumeBanksService()}"  
                                 type="submit" />
                <br />
                <h:outputText rendered="#{!empty indexViewBean.banksList}" 
                              value="Server returned:"/>
                <h:dataTable rendered="#{!empty indexViewBean.banksList}" 
                             value="#{indexViewBean.banksList}" var="b">
                    <h:column>- #{b}</h:column>
                </h:dataTable>
            </div>
        </h:form>
    </body>
</html>

